# Node
node_modules/

# Local storage frontend
local_storage/frontend/node_modules/

# Python
__pycache__/
.venv/

# --- allow Streamlit component build artifacts ---
!element_tiles/frontend/dist/
!element_tiles/frontend/dist/**
!local_storage/frontend/dist/
!local_storage/frontend/dist/**
